In [1]:
#Follow the code of session 4. 
#Change the code so it can predict a continuous variable;
#so splitting should be based on reduction in variance.
#Also add a capability to the decision tree so that you can specify the maximum tree depth. 

#Now use your code to predict operational profit of assignment 2.
#Note that you do not need to do any data cleaning on X variables,
# such as removing observations with extensive missing values,
# or imputing missing values.
#However you need to remove observations with missing operational profit (Y variable).
#Run one tree with maximum 4 layers and one with maximum 5 layers. 

# Algorithm(Flowchart):
# Init: Load the file and package which we will need, and clear the missing y 
# step1: Reduction in variance function
# step2: Create split
# step3: Build a Tree
# step4: Make a prediction

In [11]:
#Init: 
import numpy as np
from numpy import random as rd
import pandas as pd

data1 = pd.read_csv('compustat_annual_2000_2017_with link information.csv')
#only drop the row when find na in 'oiadp' column
data1.dropna(subset=['oiadp'])

#Remove non-numerical variables
data2 = data1._get_numeric_data()
data2

/Users/broteinlee/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2,17,33,37,955,956,957,962,976,977,982) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GVKEY,LPERMNO,LPERMCO,LINKDT,datadate,fyear,adrr,ajex,ajp,currtr,...,gsector,gsubind,naics,priusa,sic,spcindcd,spcseccd,stko,dldte,ipodate
0,1004,54594,20000,19720424,20000531,1999.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
1,1004,54594,20000,19720424,20010531,2000.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
2,1004,54594,20000,19720424,20020531,2001.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
3,1004,54594,20000,19720424,20030531,2002.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
4,1004,54594,20000,19720424,20040531,2003.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
5,1004,54594,20000,19720424,20050531,2004.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
6,1004,54594,20000,19720424,20060531,2005.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
7,1004,54594,20000,19720424,20070531,2006.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
8,1004,54594,20000,19720424,20080531,2007.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
9,1004,54594,20000,19720424,20090531,2008.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
10,1004,54594,20000,19720424,20100531,2009.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
11,1004,54594,20000,19720424,20110531,2010.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
12,1004,54594,20000,19720424,20120531,2011.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
13,1004,54594,20000,19720424,20130531,2012.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
14,1004,54594,20000,19720424,20140531,2013.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
15,1004,54594,20000,19720424,20150531,2014.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
16,1004,54594,20000,19720424,20160531,2015.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
17,1004,54594,20000,19720424,20170531,2016.0,NaN,1.0000,1.0000,1.0000,...,20.0,20101010.0,423860.0,1,5080,110.0,925.0,0.0,NaN,19880101.0
18,1013,50906,2902,19790316,20001031,2000.0,NaN,0.1429,0.1429,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
19,1013,50906,2902,19790316,20011031,2001.0,NaN,0.1429,0.1429,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
20,1013,50906,2902,19790316,20021031,2002.0,NaN,0.1429,0.1429,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
21,1013,50906,2902,19790316,20031031,2003.0,NaN,0.1429,0.1429,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
22,1013,50906,2902,19790316,20041031,2004.0,NaN,0.1429,0.1429,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
23,1013,50906,2902,19790316,20051031,2005.0,NaN,1.0000,1.0000,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
24,1013,50906,2902,19790316,20061031,2006.0,NaN,1.0000,1.0000,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
25,1013,50906,2902,19790316,20071031,2007.0,NaN,1.0000,1.0000,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
26,1013,50906,2902,19790316,20081031,2008.0,NaN,1.0000,1.0000,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
27,1013,50906,2902,19790316,20090930,2009.0,NaN,1.0000,1.0000,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
28,1013,50906,2902,19790316,20100930,2010.0,NaN,1.0000,1.0000,1.0000,...,45.0,45201020.0,334210.0,1,3661,180.0,940.0,0.0,20101210.0,19790316.0
29,1034,65832,20007,19840215,20001231,2000.0,NaN,1.0000,1.0000,1.0000,...,35.0,35202010.0,325412.0,1,2834,283.0,905.0,0.0,20081231.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108653,315318,14406,54703,20140123,20161231,2016.0,NaN,1.0000,1.0000,1.0000,...,15.0,15101050.0,325320.0,1,2870,NaN,NaN,0.0,NaN,NaN
108654,315318,14406,54703,20140123,20171231,2017.0,NaN,1.0000,1.0000,1.0000,...,15.0,15101050.0,325320.0,1,2870,NaN,NaN,0.0,NaN,NaN
108655,315629,16348,55719,20161101,20161231,2016.0,20.0,1.0000,1.0000,0.0309,...,45.0,45301020.0,334418.0,90,3679,NaN,NaN,0.0,NaN,NaN
108656,315629,16348,55719,20161101,20171231,2017.0,20.0,1.0000,1.0000,0.0337,...,45.0,45301020.0,334418.0,90,3679,NaN,NaN,0.0,NaN,NaN
108657,315639,15419,55305,20150619,20151231,2015.0,1.0,1.0000,1.0000,1.0859,...,35.0,35201010.0,325414.0,90,2836,NaN,NaN,0.0,NaN,NaN
108658,315639,15419,55305,20150619,20161231,2016.0,1.0,1.0000,1.0000,1.0552,...,35.0,35201010.0,325414.0,90,2836,NaN,NaN,0.0,NaN,NaN
108659,315639,15419,55305,20150619,20171231,2017.0,1.0,1.0000,1.0000,1.2022,...,35.0,35201010.0,325414.0,90,2836,NaN,NaN,0.0,NaN,NaN
108660,315887,14344,54677,20131212,20131231,2013.0,NaN,0.0833,0.0833,1.0000,...,20.0,20303010.0,483111.0,1,4412,NaN,NaN,0.0,NaN,20131212.0
108661,315887,14344,54677,20131212,20141231,2014.0,NaN,0.0833,0.0833,1.0000,...,20.0,20303010.0,483111.0,1,4412,NaN,NaN,0.0,NaN,20131212.0
108662,315887,14344,54677,20131212,20151231,2015.0,NaN,1.0000,1.0000,1.0000,...,20.0,20303010.0,483111.0,1,4412,NaN,NaN,0.0,NaN,20131212.0
108663,315887,14344,54677,20131212,20161231,2016.0,NaN,1.0000,1.0000,1.0000,...,20.0,20303010.0,483111.0,1,4412,NaN,NaN,0.0,NaN,20131212.0
108664,315887,14344,54677,20131212,20171231,2017.0,NaN,1.0000,1.0000,1.0000,...,20.0,20303010.0,483111.0,1,4412,NaN,NaN,0.0,NaN,20131212.0
108665,316056,14297,54641,20131202,20131231,2013.0,NaN,1.0000,1.0000,1.0000,...,20.0,20102010.0,332510.0,1,3420,NaN,NaN,0.0,NaN,NaN
108666,316056,14297,54641,20131202,20141231,2014.0,NaN,1.0000,1.0000,1.0000,...,20.0,20102010.0,332510.0,1,3420,NaN,NaN,0.0,NaN,NaN
108667,316056,14297,54641,20131202,20151231,2015.0,NaN,1.0000,1.0000,1.0000,...,20.0,20102010.0,332510.0,1,3420,NaN,NaN,0.0,NaN,NaN
108668,316056,14297,54641,20131202,20161231,2016.0,NaN,1.0000,1.0000,1.0000,...,20.0,20102010.0,332510.0,1,3420,NaN,NaN,0.0,NaN,NaN
108669,316056,14297,54641,20131202,20171231,2017.0,NaN,1.0000,1.0000,1.0000,...,20.0,20102010.0,332510.0,1,3420,NaN,NaN,0.0,NaN,NaN
108670,317260,14756,54928,20140612,20141231,2014.0,NaN,1.0000,1.0000,1.0000,...,10.0,10101020.0,483111.0,1,4412,NaN,NaN,0.0,NaN,NaN
108671,317260,14756,54928,20140612,20151231,2015.0,NaN,1.0000,1.0000,1.0000,...,10.0,10101020.0,483111.0,1,4412,NaN,NaN,0.0,NaN,NaN
108672,317260,14756,54928,20140612,20161231,2016.0,NaN,1.0000,1.0000,1.0000,...,10.0,10101020.0,483111.0,1,4412,NaN,NaN,0.0,NaN,NaN
108673,317260,14756,54928,20140612,20171231,2017.0,NaN,1.0000,1.0000,1.0000,...,10.0,10101020.0,483111.0,1,4412,NaN,NaN,0.0,NaN,NaN
108674,317264,14642,54852,20140508,20150331,2014.0,NaN,1.0000,1.0000,1.0000,...,10.0,10102040.0,483111.0,1,4412,NaN,NaN,0.0,NaN,20140508.0
108675,317264,14642,54852,20140508,20160331,2015.0,NaN,1.0000,1.0000,1.0000,...,10.0,10102040.0,483111.0,1,4412,NaN,NaN,0.0,NaN,20140508.0
108676,317264,14642,54852,20140508,20170331,2016.0,NaN,1.0000,1.0000,1.0000,...,10.0,10102040.0,483111.0,1,4412,NaN,NaN,0.0,NaN,20140508.0
108677,317427,15920,55515,20160112,20161231,2016.0,NaN,1.0000,1.0000,1.0552,...,30.0,30202030.0,311411.0,1,2030,NaN,NaN,0.0,NaN,NaN
108678,318728,16496,55804,20161209,20161231,2016.0,NaN,1.0000,1.0000,1.0000,...,40.0,40301020.0,524113.0,1,6311,NaN,NaN,0.0,NaN,20161209.0
108679,318728,16496,55804,20161209,20171231,2017.0,NaN,1.0000,1.0000,1.0000,...,40.0,40301020.0,524113.0,1,6311,NaN,NaN,0.0,NaN,20161209.0
108680,318815,15904,55506,20151207,20151231,2015.0,2.0,1.0000,1.0000,1.4746,...,35.0,35201010.0,325414.0,90,2836,NaN,NaN,0.0,NaN,NaN
108681,318815,15904,55506,20151207,20161231,2016.0,2.0,1.0000,1.0000,1.2337,...,35.0,35201010.0,325414.0,90,2836,NaN,NaN,0.0,NaN,NaN
108682,319507,16469,55793,20161118,20161231,2016.0,20.0,1.0000,1.0000,1.0000,...,35.0,35202010.0,325414.0,90,2836,NaN,NaN,0.0,NaN,NaN

In [16]:
#step1: Define a function for checking the reduction in variance
#caculate the mean & variance of the y target variable
mean_y = data2["oiadp"].mean()
mean_y

#variance caculate score function
def compute_score(y, yleft, yright):
        """Computes variance score for split."""

        # get dataset length n and number of attributes nAtt
        n = len(y.index)

        # compute target variance for the dataset
        y_var = y.var()

        # compute target variance for the two branches
        yleft_var = yleft.var()
        yright_var = yright.var()

        nleft = len(yleft.index)
        nright = len(yright.index)

        # compute scores
        scores = (y_var - nleft/n*yleft_var - nright/n*yright_var)/y_var;
        return scores

479.15980057762334

In [1]:
#Step2:Create Split function 
# Split a dataset based on an attribute and an attribute value
def test_split(index, value, dataset):
    left, right = list(), list()
    for row in dataset:
        if row[index] < value:
            left.append(row)
        else:
            right.append(row)
    return left, right

In [2]:
#Select the best split point for a dataset
def get_split(rows):
    
    init_var =  rows['oiadp'].var()
    best_question = None
    n_feature = len(rows[0] -1)
    
    for col in range(n_features):
        values = set([row[col] for row in rows])
        for val in values:
            left, right = test_split(col, val, rows)
            if len(left) ==0 or len(right) == 0:
                continue
            scores = compute_score(rows['oiadp'], left, right)
            
            if scores <= init_var:
                init_var = socres
                split_point = col
                split_num = val
                
    return init_var, split_point, split_num

In [3]:
#Step 3: Build a tree
# Create a terminal node value
def to_terminal(group):
    outcomes = [row[-1] for row in group]
    return max(set(outcomes), key=outcomes.count)

In [4]:
# Create child splits for a node or make terminal
def split(node, max_depth, min_size, depth):
    left, right = node['groups']
    del(node['groups'])
    # check for a no split
    if not left or not right:
        node['left'] = node['right'] = to_terminal(left + right)
        return
    # check for max depth
    if depth >= max_depth:
        node['left'], node['right'] = to_terminal(left), to_terminal(right)
        return
    # process left child
    if len(left) <= min_size:
        node['left'] = to_terminal(left)
    else:
        node['left'] = get_split(left)
        split(node['left'], max_depth, min_size, depth+1)
    # process right child
    if len(right) <= min_size:
        node['right'] = to_terminal(right)
    else:
        node['right'] = get_split(right)
        split(node['right'], max_depth, min_size, depth+1)

In [ ]:
# Build a decision tree
def build_tree(train, max_depth, min_size):
    root = get_split(train)
    split(root, max_depth, min_size, 1)
    return root